<template>
  <div id="app">
    <div id="nav">
      <a id ="home">
      <router-link style="color:#ECE4D5" v-bind:to="{ name: 'home' }">Home</router-link>&nbsp;|&nbsp;
      </a>
      <a id="login">
      <router-link style="color:#ECE4D5" v-bind:to="{ name: 'login' }">Login</router-link>&nbsp;|&nbsp;
      </a>
      <a id="register">
      <router-link style="color:#ECE4D5" v-bind:to="{ name: 'register' }" v-if="$store.state.token == ''">Register</router-link>
      </a>
      <a id ="logout">
      <router-link style="color:#ECE4D5" v-bind:to="{ name: 'logout' }" v-if="$store.state.token != ''">Logout</router-link>
      </a>
    </div>
    <router-view />
  </div>
</template>

<style scoped>

#nav a:hover{
  background-color: #ECE4D5;
  color: black;
}

#nav{
  display: inline-block;
  display: flex;
  background-color: #0A014F;
  justify-content: center;
}

#home{
  text-decoration: none;
  color: #c0291f; 
font-family: "Alex Brush", "Helvetica";
}

#login{
text-decoration: none;
  color: #c0291f; 
font-family: "Alex Brush", "Helvetica";
}

#register{
text-decoration: none;
  color: #c0291f; 
    font-family: "Alex Brush", "Helvetica";
}

#login{
text-decoration: none;
  color: #c0291f; 
    font-family: "Alex Brush", "Helvetica";
}

#logout{
text-decoration: none;
  color: #c0291f; 
    font-family: "Alex Brush", "Helvetica";
}

</style>