<template>
    <body>
    <div class="page">
        <div class="header" >
             <h1 class="heading-1" id="banner">SmallTown Cinema</h1></div>
        <div class="container">
            <div class="text">
        <h2 id="thankYou">Thank you! Your reserved seats are: </h2>
        <ul id="list">
          <li v-for="item in $route.params.cart" v-bind:key="item">{{rowLetter(item.rowNumber)}}{{item.seatNumber}}</li>
        </ul>
        <h2 id="enjoy">Enjoy your movie experience!</h2>  
        </div>
        </div>
    </div>
    </body>
</template>

<script>
export default {
    name: "CompletedPurchase",

methods:{
 rowLetter(rowNumber){
     const rows = ['','A','B','C','D','E']
     return rows[rowNumber]
 }    
}
}
</script>


<style scoped>
.text{
    text-align: center;
    color: #0A014F;
    font-family: "Alex Brush", "Helvetica";
    font-weight:bold;
    font-size: 20px;
    font-style: italic;
    text-align:center;
}

ul {
    list-style-type: none;
}

body{
    margin: 0px;
   background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url("https://honorsfellows.blogs.wm.edu/files/2017/05/that_s_all_folks__by_surrimugge-d6rfav1.png");
  background-size:cover;
}

.container{
    text-align: center;
    grid-area: unset;
    border: 20px;
    color: black;
    background-color: rgb(236, 228, 213);
    padding: 5px;
}

 .heading-1{
    grid-area: banner;
    background-image: url(https://i.postimg.cc/P5vFz3PQ/ee38720d83031cdd868ea672b522738c-1.jpg);
    background-size:cover;
    margin: auto;
    padding: 30px;
    width: 96.8%;
    color:#650401 ;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
    font-size: 55px;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 1px 1px #ECE4D5;

 }

h2{
    text-align: center;
}



</style>