<template>
  <div class="home" >
    <header>
      
      <!-- <div class="top-left"> -->
        <div><h1 class="Heading-1" >SmallTown&nbsp;Cinema</h1></div>
        <!-- </div> -->
<div> <h2 class="Heading-2" >Now Playing: </h2>  </div>
      </header>
      <div class="container">
      <div class="posters">
          <div class="a" >
            <router-link v-for="movie in movies" v-bind:key="movie.movieId" :to="`theater/${movie.theaterId}`">
            <img class="Poster" v-bind:src="movie.posterURL">
            </router-link>
          </div>
      </div>
      </div>
    
  </div>
</template>

<style scoped>
/* .a{
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("https://i.postimg.cc/P5vFz3PQ/ee38720d83031cdd868ea672b522738c-1.jpg");
  background-size:cover;
} */

.home{
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("https://i.postimg.cc/P5vFz3PQ/ee38720d83031cdd868ea672b522738c-1.jpg");
  background-size:cover;
}

body{
  margin:0px;
}

.container {
  display: flexbox;
  position: relative;
  text-align: center;
  color: white;
  height: 5%;
}
.Poster {
  margin-top: 10%;
    width: 197px;
    height: 302px;
    opacity: 90%;
    border-color: #000000;
    position: relative;
    flex-direction: row;
    display: flexbox;
    justify-content: space-evenly;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.Heading-1 {
  margin: 0;
    width: 100%;
    height: 100%;
    color: #ECE4D5;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
    font-size: 75px;
    font-style: italic;
    text-align: center;
    background-color: #AF3E4D;
    background-size: cover;
    text-shadow: 0px 1px 1px #4d4d4d;
    border: 5px dotted #0A014F;
    /* display: flexbox;
    justify-content: center; */


}

h2.Heading-2 {
  width: 100%;
  /* height: 100%; */
  position:absolute;
  z-index: 1;
  margin: 0;
  color:#650401;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
    font-size: 55px;
    font-style: normal;
    text-align: center;
    background-color: #ECE4D5;
    background-size: cover;
    text-shadow: 0px 1px 1px #4d4d4d;
    display: flex;
    justify-content: center;
    padding-top: 5px;

}

.Poster:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}




</style>
<script>
import axios from "axios"
export default {
  name: "home",
  data(){
    return {
        movies: []
    }
},
created(){
    let url = `${process.env.VUE_APP_REMOTE_API}/movie`;
    axios.get(url).then(response => {
        this.movies = response.data
    })
}
};
</script>
