<template>
<body>
  
  <div id="login" class="text-center">
    <!-- <img class="Marquis-AMPAS-46-1" src="https://i.postimg.cc/P5vFz3PQ/ee38720d83031cdd868ea672b522738c-1.jpg"> -->
    <div class="container">
      <h1 class="h3 mb-3 font-weight-normal" id="signIn">Please Sign In</h1>
    </div>

    <form class="form-signin" @submit.prevent="login">
      <div
        class="alert alert-danger"
        role="alert"
        v-if="invalidCredentials"
      >Invalid username and password!</div>
      <div
        class="alert alert-success"
        role="alert"
        v-if="this.$route.query.registration"
      >Thank you for registering, please sign in.</div>
      <label for="username" class="sr-only">Username: </label>
      <input
        type="text"
        id="username"
        class="form-control"
        placeholder="Username"
        v-model="user.username"
        required
        autofocus
      />
      <label for="password" class="sr-only">Password: </label>
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        v-model="user.password"
        required
      />
      <router-link :to="{ name: 'register' }">Need an account? </router-link>
      <button type="submit">Sign in</button>
    </form>
  </div>
</body>
</template>

<style scoped>
.container{
  text-align: center;
  margin: auto;
  /* grid-area: unset; */
  border: 20px;
  color: black;
  /* background-color: rgb(236, 228, 213); */
  padding: 5px;
}

.Marquis-AMPAS-46-1 {
    width: 100%;
    height: 20%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
    /* border-color: #000000;
    border-style: solid; */
    filter: blur(3px); 
}
.form-signin {
    width: 100%;
    height: 302px;
    position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  /* background-color: rgb(236, 228, 213); */
  }

#signIn{
  margin:0px;
  font-family: cursive;
  text-align: center;
  color: white;
}

body{
   /* background-size: 100%; */
  /* background-repeat: no-repeat; */
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.postimg.cc/P5vFz3PQ/ee38720d83031cdd868ea672b522738c-1.jpg");
  background-size:cover;
}

  </style>

<script>
import authService from "../services/AuthService";

export default {
  name: "login",
  components: {},
  data() {
    return {
      user: {
        username: "",
        password: ""
      },
      invalidCredentials: false
    };
  },
  methods: {
    login() {
      authService
        .login(this.user)
        .then(response => {
          if (response.status == 200) {
            this.$store.commit("SET_AUTH_TOKEN", response.data.token);
            this.$store.commit("SET_USER", response.data.user);
            this.$router.push("/");
          }
        })
        .catch(error => {
          const response = error.response;

          if (response.status === 401) {
            this.invalidCredentials = true;
          }
        });
    }
  }
};

</script>
