<template>
  <div id="register" class="text-center">
    <img class="Marquis-AMPAS-46-1" src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2F4.bp.blogspot.com%2F-Y4LSsJK4af4%2FWTKantVEf8I%2FAAAAAAAAL_w%2FzYScsU2_V_U-PSnBsj_0N8VoY6Ryf6g3gCEw%2Fw1200-h630-p-k-no-nu%2FMarquis-AMPAS-46.jpg">
    <form class="form-register" @submit.prevent="register">
      <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
      <div class="alert alert-danger" role="alert" v-if="registrationErrors">
        {{ registrationErrorMsg }}
      </div>
      <label for="username" class="sr-only">Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        placeholder="Username"
        v-model="user.username"
        required
        autofocus
      />
      <label for="password" class="sr-only">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        v-model="user.password"
        required
      />
      <input
        type="password"
        id="confirmPassword"
        class="form-control"
        placeholder="Confirm Password"
        v-model="user.confirmPassword"
        required
      />
      <router-link :to="{ name: 'login' }">Have an account?</router-link>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Create Account
      </button>
    </form>
  </div>
</template>

<script>
import authService from '../services/AuthService';

export default {
  name: 'register',
  data() {
    return {
      user: {
        username: '',
        password: '',
        confirmPassword: '',
        role: 'user',
      },
      registrationErrors: false,
      registrationErrorMsg: 'There were problems registering this user.',
    };
  },
  methods: {
    register() {
      if (this.user.password != this.user.confirmPassword) {
        this.registrationErrors = true;
        this.registrationErrorMsg = 'Password & Confirm Password do not match.';
      } else {
        authService
          .register(this.user)
          .then((response) => {
            if (response.status == 201) {
              this.$router.push({
                path: '/login',
                query: { registration: 'success' },
              });
            }
          })
          .catch((error) => {
            const response = error.response;
            this.registrationErrors = true;
            if (response.status === 400) {
              this.registrationErrorMsg = 'Bad Request: Validation Errors';
            }
          });
      }
    },
    clearErrors() {
      this.registrationErrors = false;
      this.registrationErrorMsg = 'There were problems registering this user.';
    },
  },
};
</script>

<style scoped>
.Marquis-AMPAS-46-1 {
    width: 100%;
    height: 20%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
    /* border-color: #000000;
    border-style: solid; */
    filter: blur(3px); 
}
.form-register {
    width: 100%;
    height: 302px;
    position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);}
</style>
