<template>
    <div id="selectTickets">
        <header>
              <h1 class="h3 mb-3 font-weight-normal">Select Your Tickets</h1>
              </header>
            <div id="banner">
              <label for="quantity" id="quantity">Number of Tickets (1-50):</label>
              <input type="number" id="quantity" name="quantity" min="1" max="50">
              <input class="confirm selection" type="button" value="Confirm Tickets">
                </div>
                <div class="container" id="image">
                    </div>
    </div>
</template>
<script>
// import axios from "axios"
// export default {
//     name: "tickets",
//     data(){
//         return{
//             tickets: []
//         }
//     }
// }
</script>
<style scoped>
#selectTickets{
    background-color: rgb(37, 41, 28)
}

header{
    height: 100px;
}

h1{
    background-color:rgba(197, 181, 151, 0.521);
    grid-area: banner;
    background-image: url(https://i.pinimg.com/originals/ee/38/72/ee38720d83031cdd868ea672b522738c.jpg);
    margin: auto;
    padding: 30px;
    width: 100%;
    color:#650401 ;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 1px 1px #ECE4D5;
}
#banner{
    text-align: center;
    grid-area: unset;
    border: 20px;
    color: black;
    background-color: rgb(236, 228, 213);
    padding: 5px;
}

#image{
    height: 1000px;
    width: 100%;
    background-image: url("https://www.publicdomainpictures.net/pictures/110000/velka/box-office-sign-1421798713Ndh.jpg")
}

#quantity{
    text-decoration-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.selection {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(101, 4, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.selection:hover {
    background-color: rgba(101, 4, 1);
}

.selection:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
</style>