<template>
    <div class="theater">
        <div class="header" >
            <h1 class="heading-1" id="logo">SmallTown Cinema</h1>
            
                <div id="movieInfo">
                    <h2 class="theater-name">Now playing in Theater {{this.$route.params.id}}:</h2>
                    <h1 class="heading-2">{{movie.movieTitle}}</h1>
                     <p class="paragraph-1">{{movie.filmDescription}}</p>
                     <p class="movie-details">Rating: {{movie.movieRating}}, Duration: {{movie.duration}} minutes</p>
                </div>
            <img class="Poster" v-bind:src="movie.posterURL"/> 
        </div>
<h3 id="table-header">Showtimes </h3>
<h2 id ="selected-showing">Selected Showing: {{(currentShowing === "") ? "" : formatDate(currentShowing)}}</h2>
        <div class="container-1">
                        <ul v-for="showing in showings" v-bind:key="showing.showingId" class="showings-table"> <li class ="day-times"><button v-on:click="selectShowtime(showing)">{{formatDate(showing.showDateTime)}}</button></li></ul>
        </div>
                        <!-- <router-link to="/SelectTickets" id="link"><button>Select your tickets</button></router-link> -->
                      <h2 id = "please-select">Once you have selected the desired showtime, please select your seat(s):</h2>
        <div class="container-2">
           
                <ul v-for="ticket in tickets" v-bind:key="ticket.seatId" class="seats-table"><li class="seats-rows"><button v-on:click="addToCart(ticket)">Seat {{rowLetter(ticket.rowNumber)}}{{ticket.seatNumber}}</button></li>
            </ul>
            </div>
            <div class="math">
            <h1>Total: ${{grandTotal()}}</h1>
            </div> 
            <ul class="purchase-info">
                <li class="selected-seat" v-for="ticket in cart" v-bind:key="ticket.seatId">Selected Seat: {{rowLetter(ticket.rowNumber)}} {{ticket.seatNumber}}</li>
            </ul>
            <span id="final-steps">
                <div id="discount">
                <button @click="addingDependents()"> Click me once per Child/Senior Citizen ticket you are purchasing </button>
                </div>
                <div id="checkout">
                <button v-on:click="completePurchase()">Checkout </button>
                </div>
            </span>

            
        </div>


</template>


<script>
import axios from "axios";
export default {
  name: "theater",
data(){
    return {
        movie: {},
        showings: [],
        tickets: [],
        cart: [],
        count: 0,
        currentShowing: "",
        theaterName: ""
        
    }
},

computed:{

},

created(){
    //Pulls movie details from API
    let theater_id = this.$route.params.id;
    // let showing_id = ;
    let url = `${process.env.VUE_APP_REMOTE_API}/movie/${theater_id}`;
    axios.get(url).then(response => {
        this.movie = response.data
    })
    // Pulls showtimes from API 
    let url2 = `${process.env.VUE_APP_REMOTE_API}/showing/${theater_id}`;
    axios.get(url2).then(response2 => {
        this.showings = response2.data
    })
    // 
},
methods:{
 selectShowtime(showing){
        console.log(showing)
        this.currentShowing = showing.showDateTime;
        let url = `${process.env.VUE_APP_REMOTE_API}/ticket/${showing.showingId}`;
        axios.get(url).then(response =>{
            this.tickets=response.data
            this.tickets.forEach(ticket=> ticket.isAdult = true)
        })
 },
 rowLetter(rowNumber){
     const rows = ['','A','B','C','D','E']
     return rows[rowNumber]
 },
 addToCart(ticket){
     this.cart.push(ticket)

 },
 completePurchase(){
     if (this.cart.length > 0){ 
         for(let i = 0; i < this.count; i++){
             this.cart[i].isAdult = false
         }
         this.cart.forEach(item => {
             item.userId = this.$store.state.user.userId
             axios.post(`${process.env.VUE_APP_REMOTE_API}/ticket`, item)
             
             
         })
         this.$router.push({name: "CompletedPurchase", params: {cart: this.cart}})
     }
 },
 calculateTotal(){
     return (this.cart.length * 12)
 },
addingDependents(){
    let aboveTotal = "\"I'm afraid I can't let you do that, Dave\" -HAL"

        if(this.count < this.cart.length)
        {
        return this.count+=1
        }
        else {
             return aboveTotal
        }
    
},
reducingDependents(){
    let belowZero = "You can't go below zero"
    if(this.count > 0){
        return this.count -= 1
    }
    else{
        return belowZero
    }
},
grandTotal(){
    return this.calculateTotal() - (this.count *4)
},
formatDate(date){
        let formattedDate = new Date(date);
        let convertedMinutes = (formattedDate.getMinutes() === 0) ? "00" : formattedDate.getMinutes();
        return `${formattedDate.getMonth()+1}-${formattedDate.getDate()}-${formattedDate.getFullYear()} , ${formattedDate.getHours()}:${convertedMinutes}`;
    }

}
}


</script>



<style scoped>

#seats-table{
    padding:0px;
}

.seats-rows{
    display: inline-block;
}

.seats-rows>button{
    color:#ECE4D5;
    background-color:#650401;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 50px;

}

.seats-rows>button:hover{
  box-shadow: 0 0 2px 2px rgba(14, 38, 75, 0.5);
}


.day-times{
    display: inline-block;
}

.day-times>button{
    color:#ECE4D5;
    background-color:#0A014F;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;

}

.day-times>button:hover{
  box-shadow: 0 0 2px 2px rgba(14, 38, 75, 0.5);
}
/* 

.showings{
    justify-items: left;
} */

.header{
     display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "banner banner"
    "poster title"
    "poster description"
    ;
    justify-items: center;
    
}

.theater{
    background-image: url(https://www.wallpaperboulevard.com/Images/product/light-blue-disney-mickey-mouse-star-wal-pvlq-l.jpg);
    background-repeat: no repeat;
    
}



.heading-1 {
    /* background-color:rgba(197, 181, 151, 0.521); */
    grid-area: banner;
    background-image: url(https://i.postimg.cc/P5vFz3PQ/ee38720d83031cdd868ea672b522738c-1.jpg);
    background-size:cover;
    margin: auto;
    padding: 30px;
    width: 96.8%;
    color:#650401 ;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
    font-size: 55px;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 1px 1px #ECE4D5;

}

h2.theater-name{
    font-family: "Lucida Handwriting", cursive;
    text-align: center;
    font-size: 25px;
    background-color: #0A014F;
    color: #ECE4D5;
    padding-block: 5px;
    height: 40px;
    opacity: 78%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    background: #0A014F;
    border-color: #79240f;
    border-width: 2px;
    border-style: solid;
    text-shadow: 0px 2px 2px #4d4d4d;
    border: 2px solid #ECE4D5;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-2 {
    grid-area: title;
    margin-top: 40px;
   padding: 40px;
   border-bottom: 5px solid black;
   border-width: thin;
    width:auto;
    color:black;
    font-family: "Alex Brush", "Helvetica";
    font-weight: bold;
    font-size: 55px;
    font-style:normal;
    text-align:center;
}

.paragraph-1 { 
    grid-area: description;
    margin-top: 40px;
    padding: 40px;
    width:auto;
    color: grey;
    font-family: "Alex Brush", "Helvetica";
    font-weight:normal;
    font-size: 20px;
    font-style: italic;
    text-align:center;

}

.movie-details{
        grid-area: description;
    /* margin-top: 40px; */
    /* padding: 40px; */
    width:auto;
    color: grey;
    font-family: "Alex Brush", "Helvetica";
    font-weight:normal;
    font-size: 20px;
    font-style: italic;
    text-align:center;
}

#movieInfo {
    margin-top: 75px;
    margin-right: 100px;
    /* border-left: black;
    border-style: outset; */
}

.Poster {
    grid-area: poster;
    width: 50%;
    width: 394px;
    height: 604px;
    padding: 30px;
    
}


h3#table-header{
    color: #ECE4D5;
    padding: 10px;
    padding-block: 5px;
    height: 40px;
    opacity: 78%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    background: #0A014F;
    border-color: #79240f;
    border-width: 2px;
    border-style: solid;
    font-family: "Lucida Handwriting", cursive;
    text-shadow: 0px 2px 2px #4d4d4d;
    border: 2px solid #ECE4D5;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.3px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* #link{
  border-radius: 15px 50px;
  background: #92948e;
  padding: 20px;
  width: 200px;
  height: auto;
  font-family: cursive;
} */


#selected-showing{
    display: block;
    text-align: center;
    /* color:  #92948e; */
    font-family: "Alex Brush", "Helvetica";
    font-weight:bold;
    font-size: 20px;
    font-style: italic;
    text-align:center;
    /* background-color: #ECE4D5; */

}

#please-select{
        display: block;
    text-align: center;
    /* color:  #92948e; */
    font-family: "Alex Brush", "Helvetica";
    font-weight:bold;
    font-size: 20px;
    font-style: italic;
    text-align:center;
}

#day {
   border-radius: 15px 50px;
  background: #92948e;
  padding: 15px;
  width: auto;
  height: auto;
  font-family: cursive;
  font-size: 20px;
  
}

.container-1{
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "showings-table showings-table showings-table showings-table";
    padding: 20px;
    justify-items: center;
    list-style-type: none;
    margin: 0;
    padding:0;
}




.container-2{
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "seats-table seats-table";
    padding: 20px;
    justify-items: center;
    list-style-type: none;
    margin: 0;
    padding:0;
}

ul.seats-table{
    padding: 0px;
}

.math{
    font-family: "Lucida Handwriting", cursive;
    font-size: 15px;
    color: #ECE4D5;
    display: flex;
   justify-content: center;
   background-color: #0A014F;
   text-shadow: 0px 1px 1px #4d4d4d;
    border: 2px solid #0A014F;
    padding: 10px;
    padding-block: 5px;
    height: 40px;
    opacity: 78%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    background: #0A014F;
    border-color: #79240f;
    border-width: 2px;
    border-style: solid;
    font-family: "Lucida Handwriting", cursive;
    text-shadow: 0px 2px 2px #4d4d4d;
    border: 2px solid #ECE4D5;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.3px;
    display: flex;
    align-items: center;
    justify-content: center;

   
}

.selected-seat{
    display: block;
    text-align: center;
    color: grey;
    font-family: "Alex Brush", "Helvetica";
    /* font-weight:bold; */
    font-size: 20px;
    font-style: italic;
    text-align:center;
}

#checkout>button{
    margin: 5px;
   border-top: 1px solid #022136;
 background: #25291C;
   padding: 5px 10px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   text-decoration: none;
   display: block;
   text-align: center;
}

#discount>button{
        margin: 5px;
   border-top: 1px solid #022136;
      background: #650401;
   padding: 5px 10px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   text-decoration: none;
   display: block;
   text-align: center;
}

#final-steps{
    display: flex;
    align-items: center;
    flex-direction: column;
}



</style>